@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="box" class="text-center">
    <h1 class="display-4">My HTML Submission Assignment</h1>
    <br /><br />
</div>
<div class="video">
    <div id="me" class="block"></div>

    <div id="myself" class="block"></div>
    <iframe id ="myVideo" width="560" height="315" src="https://www.youtube.com/embed/pmtSRDomDH8?si=RGyyfirc2_ivr60e" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    <div class="container">
        <p>One of my favorite songs <br />
            Austin Tolliver: "Can't get away from me"</p>
    </div>

</div>

<script src="script.js"></script>